*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: linear-gradient(to right, rgb(241, 123, 123), rgb(252, 180, 180));
}

h1{
    text-align: center;
    font-size: 6.7rem;
    font-weight: 800;
    margin-top: 30px;
    font-family: 'Allison', cursive;
}

.clock{
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin: 5% auto;
    position: relative;
    border:2px solid black;
    box-shadow: 0px 0px 20px black;
}

.clock::after{
    content: "";
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 11;
}

.clock .number{
    --rotation:0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
   transform: rotate(var(--rotation)); 
    font-size: 1.3rem;
    font-weight: 600;
}

 .clock .number1{--rotation:30deg;}
.clock .number2{--rotation:60deg;}
.clock .number3{--rotation:90deg;}
.clock .number4{--rotation:120deg;}
.clock .number5{--rotation:150deg;}
.clock .number6{--rotation:180deg;}
.clock .number7{--rotation:210deg;}
.clock .number8{--rotation:240deg;}
.clock .number9{--rotation:270deg;}
.clock .number10{--rotation:300deg;}
.clock .number11{--rotation:330deg;}

.clock .hand{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    z-index: 10;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock .hour{
    width: 10px;
    height: 35%;
    background-color: black;
}
.clock .minute{
    width: 7px;
    height: 40%;
    background-color: black;
}
.clock .second{
    width: 3px;
    height: 45%;
    background-color: red;
}

p{
    text-align: center;
    font-weight: 900;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}